CREATE TABLE IF NOT EXISTS "__EFMigrationsLock" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK___EFMigrationsLock" PRIMARY KEY,

    "Timestamp" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "__EFMigrationsHistory" (

    "MigrationId" TEXT NOT NULL CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY,

    "ProductVersion" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "audio_analysis" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_audio_analysis" PRIMARY KEY,

    "TrackUniqueHash" TEXT NOT NULL,

    "Bitrate" INTEGER NOT NULL,

    "SampleRate" INTEGER NOT NULL,

    "Channels" INTEGER NOT NULL,

    "Codec" TEXT NOT NULL,

    "DurationMs" INTEGER NOT NULL,

    "LoudnessLufs" REAL NOT NULL,

    "TruePeakDb" REAL NOT NULL,

    "DynamicRange" REAL NOT NULL,

    "AnalyzedAt" TEXT NOT NULL,

    "IsUpscaled" INTEGER NOT NULL,

    "SpectralHash" TEXT NOT NULL,

    "FrequencyCutoff" INTEGER NOT NULL,

    "QualityConfidence" REAL NOT NULL

, "VectorEmbeddingJson" TEXT NULL);
CREATE TABLE IF NOT EXISTS "audio_features" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_audio_features" PRIMARY KEY,

    "TrackUniqueHash" TEXT NOT NULL,

    "Bpm" REAL NOT NULL,

    "BpmConfidence" REAL NOT NULL,

    "Key" TEXT NOT NULL,

    "Scale" TEXT NOT NULL,

    "KeyConfidence" REAL NOT NULL,

    "CamelotKey" TEXT NOT NULL,

    "Energy" REAL NOT NULL,

    "Danceability" REAL NOT NULL,

    "Valence" REAL NOT NULL,

    "SpectralCentroid" REAL NOT NULL,

    "SpectralComplexity" REAL NOT NULL,

    "OnsetRate" REAL NOT NULL,

    "DynamicComplexity" REAL NOT NULL,

    "LoudnessLUFS" REAL NOT NULL,

    "DropTimeSeconds" REAL NULL,

    "DropConfidence" REAL NOT NULL,

    "CueIntro" REAL NOT NULL,

    "CueBuild" REAL NULL,

    "CueDrop" REAL NULL,

    "CuePhraseStart" REAL NULL,

    "BpmStability" REAL NOT NULL,

    "IsDynamicCompressed" INTEGER NOT NULL,

    "InstrumentalProbability" REAL NOT NULL,

    "MoodTag" TEXT NOT NULL,

    "MoodConfidence" REAL NOT NULL,

    "ChordProgression" TEXT NOT NULL,

    "Fingerprint" TEXT NOT NULL,

    "AnalysisVersion" TEXT NOT NULL,

    "AnalyzedAt" TEXT NOT NULL,

    "DetectedSubGenre" TEXT NOT NULL,

    "SubGenreConfidence" REAL NOT NULL,

    "GenreDistributionJson" TEXT NOT NULL,

    "AiEmbeddingJson" TEXT NOT NULL,

    "PredictedVibe" TEXT NOT NULL,

    "PredictionConfidence" REAL NOT NULL,

    "EmbeddingMagnitude" REAL NOT NULL,

    "CurationConfidence" INTEGER NOT NULL,

    "Source" INTEGER NOT NULL,

    "ProvenanceJson" TEXT NOT NULL

, "AggressiveConfidence" REAL NOT NULL DEFAULT 0, "HappyConfidence" REAL NOT NULL DEFAULT 0, Sadness REAL NULL, VectorEmbedding BLOB NULL, Arousal REAL NOT NULL DEFAULT 5, ElectronicSubgenre TEXT NULL, ElectronicSubgenreConfidence REAL NOT NULL DEFAULT 0, IsDjTool INTEGER NOT NULL DEFAULT 0, TonalProbability REAL NOT NULL DEFAULT 0.5, Intensity REAL NOT NULL DEFAULT 0, "AvgPitch" REAL NULL, "PitchConfidence" REAL NULL, "VggishEmbeddingJson" TEXT NULL DEFAULT '', "VisualizationVectorJson" TEXT NULL DEFAULT '');
CREATE TABLE IF NOT EXISTS "BlacklistedItems" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_BlacklistedItems" PRIMARY KEY,

    "Hash" TEXT NOT NULL,

    "Reason" TEXT NOT NULL,

    "OriginalTitle" TEXT NULL,

    "BlockedAt" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "EnrichmentTasks" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_EnrichmentTasks" PRIMARY KEY,

    "TrackId" TEXT NOT NULL,

    "AlbumId" TEXT NULL,

    "Status" INTEGER NOT NULL,

    "RetryCount" INTEGER NOT NULL,

    "ErrorMessage" TEXT NULL,

    "CreatedAt" TEXT NOT NULL,

    "UpdatedAt" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "ForensicLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_ForensicLogs" PRIMARY KEY AUTOINCREMENT,

    "CorrelationId" TEXT NOT NULL,

    "TrackIdentifier" TEXT NULL,

    "Stage" TEXT NOT NULL,

    "Level" TEXT NOT NULL,

    "Message" TEXT NOT NULL,

    "Data" TEXT NULL,

    "Timestamp" TEXT NOT NULL,

    "DurationMs" INTEGER NULL

);
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE IF NOT EXISTS "LibraryActionLogs" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_LibraryActionLogs" PRIMARY KEY AUTOINCREMENT,

    "BatchId" TEXT NOT NULL,

    "ActionType" INTEGER NOT NULL,

    "SourcePath" TEXT NOT NULL,

    "DestinationPath" TEXT NOT NULL,

    "Timestamp" TEXT NOT NULL,

    "TrackArtist" TEXT NULL,

    "TrackTitle" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "LibraryEntries" (

    "UniqueHash" TEXT NOT NULL CONSTRAINT "PK_LibraryEntries" PRIMARY KEY,

    "Id" TEXT NOT NULL,

    "Artist" TEXT NOT NULL,

    "Title" TEXT NOT NULL,

    "Album" TEXT NOT NULL,

    "FilePath" TEXT NOT NULL,

    "OriginalFilePath" TEXT NULL,

    "Bitrate" INTEGER NOT NULL,

    "DurationSeconds" INTEGER NULL,

    "Format" TEXT NOT NULL,

    "AddedAt" TEXT NOT NULL,

    "LastUsedAt" TEXT NOT NULL,

    "FilePathUpdatedAt" TEXT NULL,

    "SpotifyTrackId" TEXT NULL,

    "ISRC" TEXT NULL,

    "SpotifyAlbumId" TEXT NULL,

    "SpotifyArtistId" TEXT NULL,

    "AlbumArtUrl" TEXT NULL,

    "WaveformData" BLOB NULL,

    "RmsData" BLOB NULL,

    "LowData" BLOB NULL,

    "MidData" BLOB NULL,

    "HighData" BLOB NULL,

    "ArtistImageUrl" TEXT NULL,

    "Genres" TEXT NULL,

    "Popularity" INTEGER NULL,

    "CanonicalDuration" INTEGER NULL,

    "ReleaseDate" TEXT NULL,

    "MusicalKey" TEXT NULL,

    "BPM" REAL NULL,

    "SpotifyBPM" REAL NULL,

    "SpotifyKey" TEXT NULL,

    "ManualBPM" REAL NULL,

    "ManualKey" TEXT NULL,

    "Energy" REAL NULL,

    "Valence" REAL NULL,

    "Danceability" REAL NULL,

    "AudioFingerprint" TEXT NULL,

    "Integrity" INTEGER NOT NULL,

    "Loudness" REAL NULL,

    "TruePeak" REAL NULL,

    "DynamicRange" REAL NULL,

    "IsEnriched" INTEGER NOT NULL,

    "IsPrepared" INTEGER NOT NULL,

    "PrimaryGenre" TEXT NULL,

    "CuePointsJson" TEXT NULL,

    "DetectedSubGenre" TEXT NULL,

    "SubGenreConfidence" REAL NULL

, "InstrumentalProbability" REAL NULL, "Arousal" REAL NULL, "LastEnrichmentAttempt" TEXT NULL, "EnrichmentAttempts" INTEGER NOT NULL DEFAULT 0, "Label" TEXT NULL, "Comments" TEXT NULL, "DropTimestamp" REAL NULL, "ManualEnergy" INTEGER NULL, "SourceProvenance" TEXT NULL, "Rating" INTEGER NOT NULL DEFAULT 0, "IsLiked" INTEGER NOT NULL DEFAULT 0, "PlayCount" INTEGER NOT NULL DEFAULT 0, "LastPlayedAt" TEXT NULL);
CREATE TABLE IF NOT EXISTS "LibraryFolders" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_LibraryFolders" PRIMARY KEY,

    "FolderPath" TEXT NOT NULL,

    "IsEnabled" INTEGER NOT NULL,

    "AddedAt" TEXT NOT NULL,

    "LastScannedAt" TEXT NULL,

    "TracksFound" INTEGER NOT NULL

);
CREATE TABLE IF NOT EXISTS "LibraryHealth" (

    "Id" INTEGER NOT NULL CONSTRAINT "PK_LibraryHealth" PRIMARY KEY AUTOINCREMENT,

    "TotalTracks" INTEGER NOT NULL,

    "HqTracks" INTEGER NOT NULL,

    "UpgradableCount" INTEGER NOT NULL,

    "PendingUpdates" INTEGER NOT NULL,

    "GoldCount" INTEGER NOT NULL,

    "SilverCount" INTEGER NOT NULL,

    "BronzeCount" INTEGER NOT NULL,

    "TotalStorageBytes" INTEGER NOT NULL,

    "FreeStorageBytes" INTEGER NOT NULL,

    "LastScanDate" TEXT NOT NULL,

    "TopGenresJson" TEXT NULL

);
CREATE TABLE IF NOT EXISTS "PendingOrchestrations" (

    "TrackUniqueHash" TEXT NOT NULL CONSTRAINT "PK_PendingOrchestrations" PRIMARY KEY,

    "CreatedAt" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "Projects" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_Projects" PRIMARY KEY,

    "SourceTitle" TEXT NOT NULL,

    "SourceType" TEXT NOT NULL,

    "DestinationFolder" TEXT NOT NULL,

    "CreatedAt" TEXT NOT NULL,

    "CompletedAt" TEXT NULL,

    "TotalTracks" INTEGER NOT NULL,

    "SuccessfulCount" INTEGER NOT NULL,

    "FailedCount" INTEGER NOT NULL,

    "MissingCount" INTEGER NOT NULL,

    "IsDeleted" INTEGER NOT NULL,

    "DeletedAt" TEXT NULL,

    "IsUserPaused" INTEGER NOT NULL,

    "DateStarted" TEXT NULL,

    "DateUpdated" TEXT NOT NULL,

    "AlbumArtUrl" TEXT NULL,

    "SourceUrl" TEXT NULL

, "IsSmartPlaylist" INTEGER NOT NULL DEFAULT 0, "SmartCriteriaJson" TEXT NULL);
CREATE TABLE IF NOT EXISTS "QueueItems" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_QueueItems" PRIMARY KEY,

    "PlaylistTrackId" TEXT NOT NULL,

    "QueuePosition" INTEGER NOT NULL,

    "AddedAt" TEXT NOT NULL,

    "IsCurrentTrack" INTEGER NOT NULL

);
CREATE TABLE IF NOT EXISTS "SpotifyMetadataCache" (

    "SpotifyId" TEXT NOT NULL CONSTRAINT "PK_SpotifyMetadataCache" PRIMARY KEY,

    "DataJson" TEXT NOT NULL,

    "CachedAt" TEXT NOT NULL,

    "ExpiresAt" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "style_definitions" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_style_definitions" PRIMARY KEY,

    "Name" TEXT NOT NULL,

    "ColorHex" TEXT NOT NULL,

    "ParentGenre" TEXT NOT NULL,

    "CentroidJson" TEXT NOT NULL,

    "ReferenceTrackHashesJson" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "Tracks" (

    "GlobalId" TEXT NOT NULL CONSTRAINT "PK_Tracks" PRIMARY KEY,

    "Artist" TEXT NOT NULL,

    "Title" TEXT NOT NULL,

    "State" TEXT NOT NULL,

    "Filename" TEXT NOT NULL,

    "SoulseekUsername" TEXT NOT NULL,

    "Size" INTEGER NOT NULL,

    "Bitrate" INTEGER NOT NULL,

    "AddedAt" TEXT NOT NULL,

    "CompletedAt" TEXT NULL,

    "ErrorMessage" TEXT NULL,

    "CoverArtUrl" TEXT NULL,

    "SpotifyTrackId" TEXT NULL,

    "ISRC" TEXT NULL,

    "SpotifyAlbumId" TEXT NULL,

    "SpotifyArtistId" TEXT NULL,

    "AlbumArtUrl" TEXT NULL,

    "ArtistImageUrl" TEXT NULL,

    "Genres" TEXT NULL,

    "Popularity" INTEGER NULL,

    "CanonicalDuration" INTEGER NULL,

    "ReleaseDate" TEXT NULL,

    "MusicalKey" TEXT NULL,

    "BPM" REAL NULL,

    "Energy" REAL NULL,

    "Valence" REAL NULL,

    "Danceability" REAL NULL,

    "CuePointsJson" TEXT NULL,

    "AudioFingerprint" TEXT NULL,

    "BitrateScore" INTEGER NULL,

    "AnalysisOffset" REAL NULL,

    "SpotifyBPM" REAL NULL,

    "SpotifyKey" TEXT NULL,

    "ManualBPM" REAL NULL,

    "ManualKey" TEXT NULL,

    "Integrity" INTEGER NOT NULL,

    "SpectralHash" TEXT NULL,

    "QualityConfidence" REAL NULL,

    "FrequencyCutoff" INTEGER NULL,

    "IsTrustworthy" INTEGER NULL,

    "QualityDetails" TEXT NULL,

    "IsEnriched" INTEGER NOT NULL,

    "LastUpgradeScanAt" TEXT NULL,

    "LastUpgradeAt" TEXT NULL,

    "NextRetryTime" TEXT NULL,

    "UpgradeSource" TEXT NULL,

    "PreviousBitrate" TEXT NULL,

    "Priority" INTEGER NOT NULL,

    "SourcePlaylistId" TEXT NULL,

    "SourcePlaylistName" TEXT NULL,

    "PreferredFormats" TEXT NULL,

    "MinBitrateOverride" INTEGER NULL,

    "DetectedSubGenre" TEXT NULL,

    "SubGenreConfidence" REAL NULL

, "MoodTag" TEXT NULL, InstrumentalProbability REAL DEFAULT 0, Loudness REAL DEFAULT 0, TruePeak REAL DEFAULT 0, DynamicRange REAL DEFAULT 0, IsPrepared INTEGER DEFAULT 0, PrimaryGenre TEXT DEFAULT NULL, "Label" TEXT NULL, "Comments" TEXT NULL, "DropTimestamp" REAL NULL, "ManualEnergy" INTEGER NULL, "SourceProvenance" TEXT NULL);
CREATE TABLE IF NOT EXISTS "ActivityLogs" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_ActivityLogs" PRIMARY KEY,

    "PlaylistId" TEXT NOT NULL,

    "Action" TEXT NOT NULL,

    "Details" TEXT NOT NULL,

    "Timestamp" TEXT NOT NULL,

    CONSTRAINT "FK_ActivityLogs_Projects_PlaylistId" FOREIGN KEY ("PlaylistId") REFERENCES "Projects" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "PlaylistTracks" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_PlaylistTracks" PRIMARY KEY,

    "PlaylistId" TEXT NOT NULL,

    "Artist" TEXT NOT NULL,

    "Title" TEXT NOT NULL,

    "Album" TEXT NOT NULL,

    "TrackUniqueHash" TEXT NOT NULL,

    "Status" TEXT NOT NULL,

    "ResolvedFilePath" TEXT NOT NULL,

    "TrackNumber" INTEGER NOT NULL,

    "Bitrate" INTEGER NOT NULL,

    "Format" TEXT NULL,

    "Rating" INTEGER NOT NULL,

    "IsLiked" INTEGER NOT NULL,

    "PlayCount" INTEGER NOT NULL,

    "LastPlayedAt" TEXT NULL,

    "AddedAt" TEXT NOT NULL,

    "CompletedAt" TEXT NULL,

    "SortOrder" INTEGER NOT NULL,

    "SpotifyTrackId" TEXT NULL,

    "ISRC" TEXT NULL,

    "SpotifyAlbumId" TEXT NULL,

    "SpotifyArtistId" TEXT NULL,

    "AlbumArtUrl" TEXT NULL,

    "ArtistImageUrl" TEXT NULL,

    "Genres" TEXT NULL,

    "Popularity" INTEGER NULL,

    "CanonicalDuration" INTEGER NULL,

    "ReleaseDate" TEXT NULL,

    "MusicalKey" TEXT NULL,

    "BPM" REAL NULL,

    "CuePointsJson" TEXT NULL,

    "AudioFingerprint" TEXT NULL,

    "BitrateScore" INTEGER NULL,

    "AnalysisOffset" REAL NULL,

    "Energy" REAL NULL,

    "Danceability" REAL NULL,

    "Valence" REAL NULL,

    "SpotifyBPM" REAL NULL,

    "SpotifyKey" TEXT NULL,

    "ManualBPM" REAL NULL,

    "ManualKey" TEXT NULL,

    "SpectralHash" TEXT NULL,

    "QualityConfidence" REAL NULL,

    "FrequencyCutoff" INTEGER NULL,

    "IsTrustworthy" INTEGER NULL,

    "Integrity" INTEGER NOT NULL,

    "QualityDetails" TEXT NULL,

    "Loudness" REAL NULL,

    "TruePeak" REAL NULL,

    "DynamicRange" REAL NULL,

    "Priority" INTEGER NOT NULL,

    "SourcePlaylistId" TEXT NULL,

    "SourcePlaylistName" TEXT NULL,

    "IsEnriched" INTEGER NOT NULL,

    "IsPrepared" INTEGER NOT NULL,

    "DetectedSubGenre" TEXT NULL,

    "SubGenreConfidence" REAL NULL,

    "PrimaryGenre" TEXT NULL,

    "PreferredFormats" TEXT NULL,

    "MinBitrateOverride" INTEGER NULL, "InstrumentalProbability" REAL NULL, "Arousal" REAL NULL, "LastEnrichmentAttempt" TEXT NULL, "EnrichmentAttempts" INTEGER NOT NULL DEFAULT 0, "Label" TEXT NULL, "Comments" TEXT NULL, "DropTimestamp" REAL NULL, "ManualEnergy" INTEGER NULL, "SourceProvenance" TEXT NULL,

    CONSTRAINT "FK_PlaylistTracks_Projects_PlaylistId" FOREIGN KEY ("PlaylistId") REFERENCES "Projects" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "TechnicalDetails" (

    "Id" TEXT NOT NULL CONSTRAINT "PK_TechnicalDetails" PRIMARY KEY,

    "PlaylistTrackId" TEXT NOT NULL,

    "WaveformData" BLOB NULL,

    "RmsData" BLOB NULL,

    "LowData" BLOB NULL,

    "MidData" BLOB NULL,

    "HighData" BLOB NULL,

    "AiEmbeddingJson" TEXT NULL,

    "CuePointsJson" TEXT NULL,

    "AudioFingerprint" TEXT NULL,

    "SpectralHash" TEXT NULL,

    "IsPrepared" INTEGER NOT NULL,

    "PrimaryGenre" TEXT NULL,

    "CurationConfidence" INTEGER NOT NULL,

    "ProvenanceJson" TEXT NULL,

    "IsReviewNeeded" INTEGER NOT NULL,

    "LastUpdated" TEXT NOT NULL,

    CONSTRAINT "FK_TechnicalDetails_PlaylistTracks_PlaylistTrackId" FOREIGN KEY ("PlaylistTrackId") REFERENCES "PlaylistTracks" ("Id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "TrackPhrases" (

                        "Id" INTEGER PRIMARY KEY AUTOINCREMENT,

                        "TrackUniqueHash" TEXT NOT NULL,

                        "Type" INTEGER NOT NULL,

                        "StartTimeSeconds" REAL NOT NULL,

                        "EndTimeSeconds" REAL NOT NULL,

                        "EnergyLevel" REAL NOT NULL DEFAULT 0,

                        "Confidence" REAL NOT NULL DEFAULT 0,

                        "OrderIndex" INTEGER NOT NULL DEFAULT 0,

                        "Label" TEXT NULL

                    );
CREATE TABLE IF NOT EXISTS "GenreCueTemplates" (

                        "Id" INTEGER PRIMARY KEY AUTOINCREMENT,

                        "GenreName" TEXT NOT NULL,

                        "DisplayName" TEXT NULL,

                        "IsBuiltIn" INTEGER NOT NULL DEFAULT 0,

                        "Cue1Target" INTEGER NOT NULL DEFAULT 0,

                        "Cue1OffsetBars" INTEGER NOT NULL DEFAULT 0,

                        "Cue1Color" TEXT NOT NULL DEFAULT '#FF0000',

                        "Cue1Label" TEXT NULL,

                        "Cue2Target" INTEGER NOT NULL DEFAULT 0,

                        "Cue2OffsetBars" INTEGER NOT NULL DEFAULT 0,

                        "Cue2Color" TEXT NOT NULL DEFAULT '#00FF00',

                        "Cue2Label" TEXT NULL,

                        "Cue3Target" INTEGER NOT NULL DEFAULT 0,

                        "Cue3OffsetBars" INTEGER NOT NULL DEFAULT 0,

                        "Cue3Color" TEXT NOT NULL DEFAULT '#0000FF',

                        "Cue3Label" TEXT NULL,

                        "Cue4Target" INTEGER NOT NULL DEFAULT 0,

                        "Cue4OffsetBars" INTEGER NOT NULL DEFAULT 0,

                        "Cue4Color" TEXT NOT NULL DEFAULT '#FFFF00',

                        "Cue4Label" TEXT NULL,

                        "Cue5Target" INTEGER NULL,

                        "Cue5OffsetBars" INTEGER NULL,

                        "Cue5Color" TEXT NULL,

                        "Cue5Label" TEXT NULL,

                        "Cue6Target" INTEGER NULL,

                        "Cue6OffsetBars" INTEGER NULL,

                        "Cue6Color" TEXT NULL,

                        "Cue6Label" TEXT NULL,

                        "Cue7Target" INTEGER NULL,

                        "Cue7OffsetBars" INTEGER NULL,

                        "Cue7Color" TEXT NULL,

                        "Cue7Label" TEXT NULL,

                        "Cue8Target" INTEGER NULL,

                        "Cue8OffsetBars" INTEGER NULL,

                        "Cue8Color" TEXT NULL,

                        "Cue8Label" TEXT NULL

                    );
CREATE TABLE RecoveryCheckpoints (

                    Id TEXT PRIMARY KEY,

                    OperationType TEXT NOT NULL,

                    TargetPath TEXT NOT NULL,

                    StateJson TEXT NOT NULL,

                    Priority INTEGER DEFAULT 0,

                    FailureCount INTEGER DEFAULT 0,

                    Status INTEGER DEFAULT 0, -- 0: Active, 1: Completed, 2: DeadLetter

                    LastHeartbeat INTEGER NOT NULL,

                    CreatedAt TEXT NOT NULL

                );
CREATE TABLE IF NOT EXISTS "analysis_runs" (

                        "RunId" TEXT NOT NULL CONSTRAINT "PK_analysis_runs" PRIMARY KEY,

                        "TrackUniqueHash" TEXT NOT NULL,

                        "TrackTitle" TEXT NOT NULL DEFAULT '',

                        "FilePath" TEXT NOT NULL DEFAULT '',

                        

                        -- Run Metadata

                        "StartedAt" TEXT NOT NULL,

                        "CompletedAt" TEXT NULL,

                        "DurationMs" INTEGER NOT NULL DEFAULT 0,

                        

                        -- Status Tracking

                        "Status" INTEGER NOT NULL DEFAULT 0,

                        "RetryAttempt" INTEGER NOT NULL DEFAULT 0,

                        "WorkerThreadId" INTEGER NOT NULL DEFAULT 0,

                        

                        -- Error Handling

                        "ErrorMessage" TEXT NULL,

                        "ErrorStackTrace" TEXT NULL,

                        "FailedStage" TEXT NULL,

                        

                        -- Partial Success Tracking

                        "WaveformGenerated" INTEGER NOT NULL DEFAULT 0,

                        "FfmpegAnalysisCompleted" INTEGER NOT NULL DEFAULT 0,

                        "EssentiaAnalysisCompleted" INTEGER NOT NULL DEFAULT 0,

                        "DatabaseSaved" INTEGER NOT NULL DEFAULT 0,

                        

                        -- Performance Metrics

                        "FfmpegDurationMs" INTEGER NOT NULL DEFAULT 0,

                        "EssentiaDurationMs" INTEGER NOT NULL DEFAULT 0,

                        "DatabaseSaveDurationMs" INTEGER NOT NULL DEFAULT 0,

                        

                        -- Provenance

                        "AnalysisVersion" TEXT NOT NULL DEFAULT '',

                        "TriggerSource" TEXT NOT NULL DEFAULT ''

                    , "Tier" INTEGER NOT NULL DEFAULT 1, "BpmConfidence" REAL NOT NULL DEFAULT 0, "KeyConfidence" REAL NOT NULL DEFAULT 0, "IntegrityScore" REAL NOT NULL DEFAULT 0, "CurrentStage" INTEGER NOT NULL DEFAULT 0);
CREATE TABLE IF NOT EXISTS "smart_crate_definitions" (

                        "Id" TEXT PRIMARY KEY,

                        "Name" TEXT NOT NULL,

                        "RulesJson" TEXT NOT NULL,

                        "SortOrder" INTEGER NOT NULL,

                        "CreatedAt" TEXT NOT NULL,

                        "UpdatedAt" TEXT NOT NULL

                    );
CREATE TABLE IF NOT EXISTS 'TracksFts_data'(id INTEGER PRIMARY KEY, block BLOB);
CREATE TABLE IF NOT EXISTS 'TracksFts_idx'(segid, term, pgno, PRIMARY KEY(segid, term)) WITHOUT ROWID;
CREATE TABLE IF NOT EXISTS 'TracksFts_docsize'(id INTEGER PRIMARY KEY, sz BLOB);
CREATE TABLE IF NOT EXISTS 'TracksFts_config'(k PRIMARY KEY, v) WITHOUT ROWID;
CREATE TABLE IF NOT EXISTS 'LibraryEntriesFts_data'(id INTEGER PRIMARY KEY, block BLOB);
CREATE TABLE IF NOT EXISTS 'LibraryEntriesFts_idx'(segid, term, pgno, PRIMARY KEY(segid, term)) WITHOUT ROWID;
CREATE TABLE IF NOT EXISTS 'LibraryEntriesFts_docsize'(id INTEGER PRIMARY KEY, sz BLOB);
CREATE TABLE IF NOT EXISTS 'LibraryEntriesFts_config'(k PRIMARY KEY, v) WITHOUT ROWID;
CREATE INDEX "IX_ActivityLogs_PlaylistId" ON "ActivityLogs" ("PlaylistId");
CREATE UNIQUE INDEX "IX_Blacklist_Hash" ON "BlacklistedItems" ("Hash");
CREATE INDEX "IX_EnrichmentTasks_Status" ON "EnrichmentTasks" ("Status");
CREATE INDEX "IX_EnrichmentTasks_Status_CreatedAt" ON "EnrichmentTasks" ("Status", "CreatedAt");
CREATE INDEX "IX_PlaylistTrack_PlaylistId" ON "PlaylistTracks" ("PlaylistId");
CREATE INDEX "IX_PlaylistTrack_Status" ON "PlaylistTracks" ("Status");
CREATE INDEX "IX_PlaylistTracks_TrackUniqueHash" ON "PlaylistTracks" ("TrackUniqueHash");
CREATE INDEX "IX_PlaylistJob_CreatedAt" ON "Projects" ("CreatedAt");
CREATE UNIQUE INDEX "IX_TechnicalDetails_PlaylistTrackId" ON "TechnicalDetails" ("PlaylistTrackId");
CREATE INDEX "IX_TrackPhrases_TrackUniqueHash" ON "TrackPhrases" ("TrackUniqueHash");
CREATE INDEX "IX_GenreCueTemplates_GenreName" ON "GenreCueTemplates" ("GenreName");
CREATE INDEX IX_PlaylistTrack_PlaylistId_Status ON PlaylistTracks(PlaylistId, Status);
CREATE INDEX IX_LibraryEntry_UniqueHash ON LibraryEntries(UniqueHash);
CREATE INDEX IX_LibraryEntry_Artist_Title ON LibraryEntries(Artist, Title);
CREATE INDEX IX_Project_IsDeleted_CreatedAt ON Projects(IsDeleted, CreatedAt);
CREATE INDEX IX_Recovery_Priority 

                ON RecoveryCheckpoints(Priority DESC);
CREATE INDEX IX_Recovery_Type 

                ON RecoveryCheckpoints(OperationType);
CREATE INDEX IX_Recovery_Heartbeat 

                ON RecoveryCheckpoints(LastHeartbeat);
CREATE INDEX "IX_analysis_runs_TrackUniqueHash" ON "analysis_runs" ("TrackUniqueHash");
CREATE INDEX "IX_analysis_runs_Status" ON "analysis_runs" ("Status");
CREATE INDEX "IX_analysis_runs_StartedAt" ON "analysis_runs" ("StartedAt");
CREATE VIRTUAL TABLE TracksFts USING fts5(

                        Artist, 

                        Title, 

                        content='Tracks', 

                        content_rowid='Id'

                    );
CREATE VIRTUAL TABLE LibraryEntriesFts USING fts5(

                        Artist, 

                        Title, 

                        Album,

                        content='LibraryEntries', 

                        content_rowid='rowid'

                    );
CREATE TRIGGER tbl_lib_ai AFTER INSERT ON LibraryEntries BEGIN

                        INSERT INTO LibraryEntriesFts(rowid, Artist, Title, Album) VALUES (new.rowid, new.Artist, new.Title, new.Album);

                    END;
CREATE TRIGGER tbl_lib_ad AFTER DELETE ON LibraryEntries BEGIN

                        INSERT INTO LibraryEntriesFts(LibraryEntriesFts, rowid, Artist, Title, Album) VALUES('delete', old.rowid, old.Artist, old.Title, old.Album);

                    END;
CREATE TRIGGER tbl_lib_au AFTER UPDATE ON LibraryEntries BEGIN

                        INSERT INTO LibraryEntriesFts(LibraryEntriesFts, rowid, Artist, Title, Album) VALUES('delete', old.rowid, old.Artist, old.Title, old.Album);

                        INSERT INTO LibraryEntriesFts(rowid, Artist, Title, Album) VALUES (new.rowid, new.Artist, new.Title, new.Album);

                    END;
CREATE TRIGGER tbl_tracks_ai AFTER INSERT ON Tracks BEGIN

                    INSERT INTO TracksFts(rowid, Artist, Title) VALUES (new.rowid, new.Artist, new.Title);

                END;
CREATE TRIGGER tbl_tracks_ad AFTER DELETE ON Tracks BEGIN

                    INSERT INTO TracksFts(TracksFts, rowid, Artist, Title) VALUES('delete', old.rowid, old.Artist, old.Title);

                END;
CREATE TRIGGER tbl_tracks_au AFTER UPDATE ON Tracks BEGIN

                    INSERT INTO TracksFts(TracksFts, rowid, Artist, Title) VALUES('delete', old.rowid, old.Artist, old.Title);

                    INSERT INTO TracksFts(rowid, Artist, Title) VALUES (new.rowid, new.Artist, new.Title);

                END;
